{% extends 'body.html.twig' %}

{% block title %} {{ 'some.message' }} {{'othernospace.message'}} {{'othersomespace.message' }} {% endblock %}
{% block contentbody %}
<div class="content-wrapper">
    <span>HTML content goes there</span>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('somelibrary') }}
    <script>
        // eslint-plugin-twig debug
        import someVariable from {{ someCalculatedPath }};
        import { someVariable1, someVariable2 } from {{ someOtherCalculatedPath }};
    </script>
    <script>
        console.log('hello world');
        var text = '{{ someText }}';
        globalFunction("{{'message1'}}", "{{'message2'}}", "text");
        {% include('otherTemplate.js.twig') %}
        {{ include('includedTemplate.js.twig') }}
        {% set header = include('header.html') %}
        var complexCase = '{{ 'action.noResultsForQuery'|trans }} "{{ '{{' }}query{{ '}}' }}"';
        var completeFunction = someFunciton('href', '{{ path('del_sacrement',{id:sacrement.id}) }}');
        var anotherComplexCase = function (data, type, row, meta) {
            return type === someCondition ?
                '<a href="/link/' + id + '"><span title="' + data + '">' + '...</span></a><a class="someclass" data-id="' + row.id + '"><i class="someclass"></i></a> {% if someCondition %} <a class="someclass" href="/link/' + id + '"><i class="someclass"></i></a>{% endif %}' :
                '<a href="/link/' + id + '">' + data + '</a><a class="someclass" data-id="' + row.id + '"><i class="someclass"></i></a>{% if someCondition %} <a class="someclass" href="/link/' + id + '"><i class="someclass"></i></a>{% endif %}';
        };

    </script>
{% endblock %}

