{% extends 'body.html.twig' %}

{% block title %} {{ 'some.message' }} {{'othernospace.message'}} {{'othersomespace.message' }} {% endblock %}
{% block contentbody %}
<div class="content-wrapper">
    <span>HTML content goes there</span>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('somelibrary') }}
    <script>
        // eslint-plugin-twig debug
        import someVariable from {{ someCalculatedPath }};
        import { someVariable1, someVariable2 } from {{ someOtherCalculatedPath }};
    </script>
    <script>
        console.log('hello world');
        var text = '{{ someText }}';
        globalFunction("{{'message1'}}", "{{'message2'}}", "text");
        {% include('otherTemplate.js.twig') %}
        {{ include('includedTemplate.js.twig') }}
        {% set header = include('header.html') %}
        var complexCase = '{{ 'action.noResultsForQuery'|trans }} "{{ '{{' }}query{{ '}}' }}"';
        var completeFunction = someFunciton('href', '{{ path('del_sacrement',{id:sacrement.id}) }}');
        var anotherComplexCase = function (data, type, row, meta) {
            return type === someCondition ?
                '<a href="/personne/' + row.id + '"><span title="' + data + '">' + data.substr(0, 30) + '...</span></a><a class="pl-2 modal-details-personne" data-id-personne="' + row.id + '"><i class="fa-solid fa-eye font-small-3"></i></a> {% if is_granted('ROLE_EDIT_ALL_PERSONNES', app.user.entiteActive) %} <a class="warning ml-1" href="/personne/edit/' + row.id + '"><i class="fa-solid fa-user-pen font-small-3"></i></a>{% endif %}' :
                '<a href="/personne/' + row.id + '">' + data + '</a><a class="pl-2 modal-details-personne" data-id-personne="' + row.id + '"><i class="fa-solid fa-eye font-small-3"></i></a>{% if is_granted('ROLE_EDIT_ALL_PERSONNES', app.user.entiteActive) %} <a class="warning ml-1" href="/personne/edit/' + row.id + '"><i class="fa-solid fa-user-pen font-small-3"></i></a>{% endif %}';
        };

    </script>
{% endblock %}

